* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: Geneva, Tahoma, Verdana, sans-serif;
    color: #60646d;
    font-size: 15px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary
{
    display: block;
}

input.form-control {
    border-radius: 0;
}

.form-control:focus {
    box-shadow: none;
}

.btn:focus, .btn.focus {
    box-shadow: none;
}

.btn.fs-btn {
    background-color: #3c8dbc;
    color: #fff;
    border: 1px solid #377fa9;
    font-size: 14px;
    padding: 8px 10px 5px 10px;
    font-weight: bold;
}

.sessionMessage {
    background: #eef163;
    border: 1px solid #ccd454;
    padding: 10px 15px;
    margin-bottom: 10px;
}

.sessionMessage p {
    margin-bottom: 0;
}

.sessionErrors {
    background: #ffa899;
    border: 1px solid #d06464;
    padding: 10px 10px 10px 0;
    color: #444;
    margin-bottom: 10px;
}

.sessionErrors ul {
    margin-bottom: 0;
}

.admin-wrapper {
    height: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto
}

.admin-wrapper:before,
.admin-wrapper:after
{
    content: " ";
    display: table;
}

.admin-wrapper:after {
    clear: both;
}

#admin-header {
    background-color: #3c8dbc;
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    max-height: 50px;
    overflow: hidden;
    z-index: 1000;
}

#admin-header .logo {
    font-family: "Courier New", Courier, monospace;
    -webkit-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    display: block;
    width: 230px;
    height: 50px;
    text-align: center;
    float: left;
    overflow: hidden;
    background-color: #367fa9;
    color: #ececec;
    text-decoration: none;
    margin: 0;
    line-height: 50px;
    font-size: 20px;
}

#admin-header .logo .inner {
    padding: 0 15px;
    display: block;
    height: 100%;
}

#admin-header .navbar {
    -webkit-transition: margin-left .3s ease-in-out;
    -o-transition: margin-left .3s ease-in-out;
    transition: margin-left .3s ease-in-out;
    margin-bottom: 0;
    margin-left: 230px;
    border: none;
    min-height: 50px;
    border-radius: 0;
}

#admin-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 50px;
    min-height: 100%;
    width: 230px;
    -webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,width .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,width .3s ease-in-out;
    transition: transform .3s ease-in-out,width .3s ease-in-out;
    background-color: #464646;
    z-index: 900;
}

#admin-main {
    -webkit-transition: -webkit-transform .3s ease-in-out,margin .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,margin .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,margin .3s ease-in-out;
    transition: transform .3s ease-in-out,margin .3s ease-in-out;
    margin-left: 230px;
    padding-top: 50px;
    z-index: 910;
    background-color: #ecf0f5;
}

#admin-main section.content {
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

#admin-footer {
    -webkit-transition: -webkit-transform .3s ease-in-out,margin .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,margin .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,margin .3s ease-in-out;
    transition: transform .3s ease-in-out,margin .3s ease-in-out;
    margin-left: 230px;
    z-index: 910;
    background-color: #fff;
    padding: 15px;
    border-top: 1px solid #d2d6de;
}

.sidebar-nav-menu {
    white-space: nowrap;
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-nav-menu>li {
    position: relative;
    margin: 0;
    padding: 0;
}

.sidebar-nav-menu>li>a {
    border-left: 3px solid transparent;
    color: #b8c7ce;
    position: relative;
    padding: 12px 5px 12px 15px;
    display: block;
}

.sidebar-nav-menu {
    white-space: nowrap;
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-nav-menu>li {
    position: relative;
    margin: 0;
    padding: 0;
}

.sidebar-nav-menu>li>a {
    border-left: 3px solid transparent;
    color: #b8c7ce;
    position: relative;
    padding: 12px 5px 12px 15px;
    display: block;
}

.sidebar-nav-menu>li.active>a,
.sidebar-nav-menu>li.active>a:hover
{
    background-color: #323435;
}

.admin-section {
    background-color: #fff;
    padding: 40px;
    margin-bottom: 20px;
    border: 2px solid #464646;
}

.admin-form .fields {
    background: #e1ebf5;
    border: 1px solid #94a7b9;
    color: #495057;
    padding: 30px;
    margin-bottom: 20px;
}

.admin-form .fields label {
    font-weight: bold;
}

.admin-form .fields .checkbox-input {
    background: #fff;
    border: 1px solid #ced5db;
    padding: 13px 15px;
}

.admin-form .fields .checkbox-input label {
    font-weight: normal;
}

.btn.admin-btn {
    background-color: #3c8dbc;
    color: #fff;
    border: 1px solid #377fa9;
    font-size: 15px;
    padding: 10px;
    font-weight: bold;
    border-radius: 0;
    line-height: 1;
}